<?php

/**
 * Konnex User API
 * An API that allows for creating, reading, updating and deleting of Konnex User data.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: info@konnex-engine.io
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Source files are located at:
 *
 * > swagger-codegen/modules/swagger-codegen/src/main/resources/php-laravel/
 */

/**
 * post createUser
 * Summary: Creates a new Konnex User
 * Notes: Creates a new Konnex User in the database.
 * Output-Formats: [application/json, application/xml]
 */
Route::post('/v1/users', 'UsersController@createUser');
/**
 * get getUsers
 * Summary: Retrieves all available Konnex User data
 * Notes: Obtain information about Konnex users.
 * Output-Formats: [application/json, application/xml]
 */
Route::get('/v1/users', 'UsersController@getUsers');
/**
 * delete deleteUser
 * Summary: Delete user data.
 * Notes: Delete records for a specific Konnex User.

 */
Route::delete('/v1/users/{userID}', 'UsersController@deleteUser');
/**
 * get getUserByID
 * Summary: Retrieves data for a specific Konnex User
 * Notes: Obtain information for a specific user by user ID.
 * Output-Formats: [application/json, application/xml]
 */
Route::get('/v1/users/{userID}', 'UsersController@getUserByID');
/**
 * put updateUser
 * Summary: Update user data.
 * Notes: Update records for a specific Konnex User.
 * Output-Formats: [application/json, application/xml]
 */
Route::put('/v1/users/{userID}', 'UsersController@updateUser');

